header {
    color: aqua; 
    text-align: center; 
    width: 500px;
     font-size: 30px;
    }
body{
    background-color: #222;
}

.info{
    background-color: aqua;
    width: 520px; 
}
/* .scene{
    margin-top: 50px;
} */

/* .info.points{
    float:left;
    width:200px;
    display: block;

}
.info.lives{
    float:right;
    width:200px;
    display: block;
  
}
     */