.pacman{
    background-image: url(icon.png);
}

.pacman.exploding{
    background-image:  url(bum.gif),
                       url(icon.png);            
    background-size: contain, contain;
}